# VS Code settings
.vscode/
*.code-workspace

# Python / Jupyter
__pycache__/
*.pyc
*.ipynb_checkpoints
*.pkl

# System files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp

# OS-specific
ehthumbs.db
Icon?